<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <title>Meeti - <%- nombrePagina %>
    </title>
</head>

<body>

    <header class="site-header contenedor">
        <a href="/">
            <img src="/img/logo.png" alt="Logo Meeti">
        </a>

        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="/user/log-in">Iniciar sesion</a>
            <a href="/user/sing-up">Registrarse</a>
        </nav>
    </header>
    
    <% if (locals.mensajes) { %>
        <% const categoria = Object.keys(locals.mensajes) %>
        <% if(categoria.length) { %>
             <% locals.mensajes[categoria].forEach(alerta => {  %>
                 <div class="alertas">
                    <p class="alerta <%= categoria %>"> <%= alerta %></p>
                 </div>
             <% }) %>
        <% } %>
     <% } %>

    <%- body %>

    <footer class="site-footer contenedor">
        <nav class="nav">
            <a href="#">Crear Grupo</a>
            <a href="/user/log-in">Iniciar sesion</a>
            <a href="/user/sing-up">Registrarse</a>
        </nav>

        <p class="copyright">Todos los derechos reservados Meeti <%- locals.year %> &copy;</p>
    </footer>
</body>

</html>