<main class="contenedor panel-administracion">
    <h1>
        <%= nombrePagina %>
    </h1>

    <div class="contenedor-botones">
        <a href="/user/admin/panel/new-group" class="btn btn-amarillo">Nuevo Grupo</a>
        <a href="#" class="btn btn-azul">Nuevo Meeti</a>
        <a href="#" class="btn btn-rosa">Editar Perfil</a>
        <a href="#" class="btn btn-verde">Cambiar Password</a>
        <a href="#" class="btn btn-amarillo">Imagen Perfil</a>
    </div>

    <div class="seccion-admin">
        <h2>Tus eventos</h2>
        <ul>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Sabado 13 de noviembre del 2022</p>
                    <h3>Carrera en el lanin</h3>
                    <small>13 participantes</small>
                </div>
                <div class="acciones-contenedor">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Ver participantes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Sabado 13 de noviembre del 2022</p>
                    <h3>Carrera en el lanin</h3>
                    <small>13 participantes</small>
                </div>
                <div class="acciones-contenedor">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Ver participantes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
            <li>
                <div class="informacion-admin">
                    <p class="fecha">Sabado 13 de noviembre del 2022</p>
                    <h3>Carrera en el lanin</h3>
                    <small>13 participantes</small>
                </div>
                <div class="acciones-contenedor">
                    <a href="#" class="btn btn-verde">Editar</a>
                    <a href="#" class="btn btn-azul2">Ver participantes</a>
                    <a href="#" class="btn btn-rojo">Eliminar</a>
                </div>
            </li>
        </ul>
    </div>

    <div class="seccion-admin">
        <h2>Tus grupos</h2>
        <% if(groups.length) { %> 
            <ul>
                <% groups.forEach(group=> { %>
                    <li>
                        <div class="informacion-admin">
                            <h3><%= group.name %> </h3>
                        </div>
                        <div class="acciones-contenedor">
                            <a href="/groups/edit-group/<%= group.id %>" class="btn btn-verde">Editar</a>
                            <a href="/groups/edit-group-img/<%= group.id %>" class="btn btn-azul2">Imagen</a>
                            <a href="/user/delete-group/<%= group.id %>" class="btn btn-rojo">Eliminar</a>
                        </div>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No tienes grupos creados</p>
        <% }  %>
    </div>

</main>